* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red: #f00;
    --green: #0f0;
    --blue: #00f;
    --yellow: #ff0;
    --cyan: #0ff;
    --magenta: #f0f;
    --default: #80808080;
}

main {
    background-color: var(--default);
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    display: grid;
    gap: 1em;
    padding: 1em;
    grid-template-areas:
        "one two"
        "three three"
        "four four"
        "five seven"
        "six seven"
        "eight eight"
        "ten nine";

    div.block {
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1em;
        min-height: 5em;
        cursor: pointer;
        animation: rgb 10s infinite linear;

        &.one {
            grid-area: one;
        }

        &.two {
            grid-area: two;
        }

        &.three {
            grid-area: three;
        }

        &.four {
            grid-area: four;
        }

        &.five {
            grid-area: five;
        }

        &.six {
            grid-area: six;
        }

        &.seven {
            grid-area: seven;
        }

        &.eight {
            grid-area: eight;
        }

        &.nine {
            grid-area: nine;
        }

        &.ten {
            grid-area: ten;
        }

        p {
            display: inline-block;
        }
    }
}

@keyframes rgb {
    0% {
        background-color: var(--red);
        color: var(--cyan);
    }

    33% {
        background-color: var(--green);
        color: var(--magenta);
    }

    67% {
        background-color: var(--blue);
        color: var(--yellow);
    }

    100% {
        background-color: var(--red);
        color: var(--cyan);
    }
}
